/*set margin border*/
body{
    margin: 0;
    padding: 0;
}
/*------- HEADER--------- */
.imgHeader{
    width: 100%;
    object-fit: contain;
}
/* END -----------HEADER */

/* ------NAV---------- */
.nav{
    margin: 0;
    padding: 0;
}
.navEstilo{
    background-color: #ffffff;
    margin: 0;
    padding: 0.7rem;
}
.navContain{
    background-color: #ffffff;;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navButomSelect{
    border-radius: 0.5rem;
    padding: 0.3rem 2rem 0.3rem 2rem;
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
    text-decoration: none;
    
    
}
.navButomSelect:hover{
    color: #d22704;
    border-radius: 0.5rem;
    padding: 0.4rem 2.2rem 0.4rem 2.2rem;
    text-decoration: none;
}
.navButomUnselect{
    border: 0;
    color: inherit;
    background-color: #ffffff;
    color: #000000;
    border-color: #ffffff;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.3rem 2rem 0.3rem 2rem;
}
.navButomUnselect:hover{
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #d22704;
    border-radius: 0.5rem;
    padding: 0.3rem 2rem 0.3rem 2rem;
    text-decoration: none;

}
/* ------END--NAV -------- */

/* ------MAIN--------------- */
.main{
    width: 100%;
    background-color: #f2f2f2;
    
}
/*------END MAIN-----------/

/*--------------ARTICLE-----------*/
.article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.card{
    background-color: #ffffff;
    margin: 2rem 0 2rem 0;
    box-shadow: 0.4rem 0.1rem 0.7rem 0.1rem #a6a6a6;
    border-radius: 0.7rem;
    width: 22rem;
}
.card-img-top{
    border-radius: 0.7rem;
}
.card:hover{
    background-color: #a6a6a6;
    opacity: 90%;
}

.buttomCard{
    background-color: #d22704;
    border-color: #b82305;
}
.buttomCard:hover{
    background-color: #f2f2f2;
    color: #d22704;
    border-color: #b82305;
}

/*---- CONTACT ME ----*/
.article2{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cardContact{
    margin: 2rem 0 1rem 0;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    width: 50rem;
    background-color: #ffffff;
    box-shadow: 0.4rem 0.1rem 0.7rem 0.1rem #a6a6a6;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: #d22704;
    
}

.cardContactLink{
    text-decoration: none; 
    color: #000000;
}
.cardContactLink:hover{
    padding: 0.5rem;
    border: 0.2rem solid;
    border-radius: 0.5rem;
}
/*-------------END CONTACT ME--------------*/

/*--------------------FOOTER--------------*/
.bi-linkedin{
    margin: 0rem 0.5rem 0rem 1rem;
}
.BehanceIcon{
    margin: 0rem 2rem 0rem 0rem;
}


/*----- Responsive Desing -------*/
@media screen and (max-width: 800px) {
    .navContain{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
    }
    .article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin: 1rem 0.1rem 1rem 0.1rem;
        
    }
    .cardContact{
        margin: 1rem 0 1rem 0;
        padding: 0.5rem 1rem 0.5rem 1gitrem;
        width: 18rem;
        background-color: #ffffff;
        box-shadow: 0.4rem 0.1rem 0.7rem 0.1rem #a6a6a6;
        border-radius: 0.5rem;
        font-size: 0.7rem;
        color: #d22704;
        
    }
    .cardContactLink:hover{
        padding: 0.3rem;
        border: 0.1rem solid;
        border-radius: 0.5rem;
    }
    
  } 
  @media screen and (max-width: 400px) {
    .card{
        width: 18rem;
    }
  }
